#generate {
    color: white;
    background-color: red;

}
#copy {
    color: white;
    background-color: blue;

}
h1 {
    text-align: center;
}
#display {
    position: fixed;
    align-content: center;
    background-color: steelblue;
}
#password {
    width: 80%;
    align-content: center; 
    
}
#textbox {
    align-content: center;
}

body {
    background-color: slategray;
}
