#generate {
    color: white;
    background-color: red;

}
#copy {
    color: white;
    background-color: blue;

}
h1 {
    text-align: center;
}
#display {
    position: fixed;
    align-content: center;
}
#password {
    width: 960px;
    align-content: center;
}

